.keyContacts {
  h2 {
    font-family: Segoe UI WestEuropean,Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    font-weight: 100;
  }
}